{% extends 'navbar.html' %}

{% block content %}
<body >
    <center> <h1>Forgot Password </h1> </center>
    <form method="post">
         {% csrf_token %}
       <table align="center">
           <tr>
               <td>
                   <input type="text" placeholder="enter email" name="txtMail">
               </td>
           </tr>
           <tr>
               <td>
                   <input type="text" placeholder="enter cellno" name="txtCell">
               </td>
           </tr>
           <tr>
               <td>
                   <input type="submit" value="Reset">
               </td>
           </tr>
       </table>
    </form>
            <form action="cancel" method="post">
                       {% csrf_token %}
                       <input type="submit" value="Cancel" align="center">
            </form>
</body>
{% endblock %}