<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .footer {
        position: fixed;
        left: 15px;
        bottom: 5px;
        right: 15px;
        background-color: gray;
        color: white;
        text-align: center;
        font-size:40px;
        }
        header{
        font-size:30px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="collapse navbar-collapse" id="div1">
            <ul  class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'aboutus' %}">AboutUS</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'log' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</header>
{% block content %}

{% endblock %}
<footer class="footer">Elegant Altima</footer>
</body>
</html>